p3 {
  color:#29c8b5;
  font-size: 15px;    
  line-height: 2;
  letter-spacing: 2px;
}
a:hover {
  color:#969423;
  font-size: 20px; 
  width: 100px;
  border: 3px solid  #969423;
}
html {
  font-size: 15px;
  font-family: 'Libre Baskerville', serif;
  background-color: #dfdfd9;
}
h1 {
  font-size: 50px;
  text-align: center;
}
p1,p2 {
   width: 1000px;
  margin: 0 auto;
  background-color: #b6faf4;
  padding: 0 20px 20px 20px;
  border: 1px solid  #b2b6b1
;
}
