p {
  color:#6a7469;
  font-size: 20px;    
  line-height: 2;
  letter-spacing: 1px;
}
button {
  margin 0 avto;
  color: #0badf3;
  font-size: 50px;
  width: 200px;
}  
#werty {
  margin 0 avto;
  color: #969423;
  font-size: 80px;
  width: 200px;
}
img {  
  display: block;
  margin: 0 auto;
}
img.o4ko {
  margin:unset;
}
a:hover {
  color:#969423;
  font-size: 30px; 
  width: 100px;
  border: 3px solid  #969423;
}
html {
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  background-color: #6a7469;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #839781;
  text-shadow: 5px 5px 3px  #646a63 ;
}
body {
  width: 1080px;
  margin: 30 auto;
  background-color: #b2b6b1;
  padding: 0 40px 40px 40px;
  border: 2px solid  #839781;
}
