p {
  color:#2f3131;
  font-size: 20px;    
  line-height: 1;
  letter-spacing: 1px;
}
footer {
  text-align: right;
}
button {
  margin: 0 avto;
  background-color: #dffaf9;
  color:  #2a1b1 ;
  font-size: 25px;
  width: 200px;
}  
#werty {
  margin: 0 avto;
  color: #969423;
  font-size: 20px;
  width: 200px;
}
img {  
  display: block;
  margin: 0 auto;
}
img.o4ko {
  margin:unset;
}
a:hover {
  color: black;
  font-size: 25px; 
  width: 100px;
  border: 3px solid   #f3381b;
  background-color:  #ffffff;
}
html {
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  background-color:  #fefefe;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #839781;
  text-shadow: 5px 5px 3px  #646a63 ;
}
body {
  width: 1280px;
  margin: 30 auto;
  background-color: #bfe7f8;
  padding: 0 40px 40px 40px;
  }
h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0 auto;    
  color: black;
}
